# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.project.iml
# Datasource local storage ignored files
/../../../../../../../:\Fächer\SEW - Softwareentwickung\project\.idea\.idea.project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
